# Dependencies
/node_modules
/.pnp
.pnp.js

# Build outputs
/dist
/build
/lib

# Testing
/coverage

# Debug logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# IDE - IntelliJ
.idea
*.iml

# IDE - WebStorm
.idea/

# macOS
.DS_Store
*.pem

# Env files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# TypeScript cache
*.tsbuildinfo

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# Temporary files
*.swp
*.swo
*~ 